<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments::page_head('Users - Shopme Admin')}"></head>

<body>
<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div th:replace="~{navigator::menu}"></div>
    <div>
        <h2 class="text-center m-5">Manage Users</h2>
        <a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="~{fragments::searchFormWithMessage('/users/page/1')}"></div>

    <div class="less-details">

        <div th:each="user:${users}" class="row m-1">
            <div class="col-4">
                <i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                <img th:if="${user.photos != null}" th:src="@{${user.photosPath}}" style="width: 100px"/>
            </div>
            <div class="col-8">
                <div> [[${user.fullName}]]</div>
                <div> [[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="~{fragments::entityStatus(${user.enabled}, 'user', 'users/' + ${user.id})}"></div>
                        &nbsp;
                    <div th:replace="~{fragments::edit('user', '/users/edit/', ${user.id})}"></div>
                    <div th:replace="~{fragments::delete('user', '/users/delete/' , ${user.id}, true)}"></div>
                    <a th:href="@{'/users/edit/' + ${user.id} }"
                       class="fa-regular fa-pen-to-square fa-2xl icon-green"
                       title="Edit this user"></a>
                        &nbsp;
                    <a th:href="@{'/users/delete/'+ ${user.id} }"
                       class="fa-solid fa-trash fa-2xl icon-dark link-delete"
                       title="Delete this user"
                       th:userId="${user.id}"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th class="hideable-column">
                        <th th:replace="~{fragments::column_link('users', 'id', 'User ID', 'tag')}"></th>
                    </th>

                    <th>Photos</th>

                    <th class="hideable-column">
                        <th th:replace="~{fragments::column_link('users', 'email', 'E-mail', 'tag')}"></th>
                    </th>
                    <th th:replace="~{fragments::column_link('users', 'firstName', 'First Name', 'none')}"></th>
                    <th th:replace="~{fragments::column_link('users', 'lastName', 'Last Name', 'none')}"></th>
                    <th>Roles</th>
                    <th th:replace="~{fragments::column_link('users', 'enabled', 'Enabled', 'none')}"></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td class="hideable-column" th:text="${user.id}"></td>
                    <td>
                        <i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosPath}}" style="width: 100px"/>
                    </td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>

                        <div th:replace="~{fragments::entityStatus(${user.enabled}, 'User', 'users/' + ${user.id})}"></div>
                    </td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id} }" class="fa-regular fa-pen-to-square fa-2xl icon-green" title="Edit this user"></a>
                        &nbsp;
                        <a th:href="@{'/users/delete/'+ ${user.id} }" class="fa-solid fa-trash fa-2xl icon-dark link-delete" title="Delete this user"
                            th:userId="${user.id}"></a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div th:replace="~{fragments::pagination('/users/page/','Users')}"></div>


    <div th:replace="~{fragments::footer}"></div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            userId = link.attr("entityId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID: " + userId + "?");
            $("#confirmModal").modal("show");
        });
    });

    function clearFilter() {
        window.location= "[[@{/users}]]"
    }

</script>

</body>
</html>