<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments::page_head('Categories - Shopme Admin')}"></head>

<body>


<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div th:replace="~{navigator::menu}"></div>
    <div>
        <h2 class="text-center m-5">Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fa-solid fa-user-plus fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
        <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
    </div>


    <div th:replace="~{fragments::searchFormWithMessage('/categories/page/1')}"></div>

    <div class="less-details">

        <div th:each="category:${categories}" class="row m-1">
            <div class="col-4">
                <i th:if="${category.image == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                <img th:if="${category.image != null}" th:src="@{${category.imagePath}}" style="width: 100px"/>
            </div>
            <div class="col-8">
                <div> [[${category.name}]]</div>
                <div class="mt-2">
                    <div th:replace="~{fragments::entityStatus(${category.enabled}, 'Category', 'categories/' + ${category.id})}"></div>
                    &nbsp;
                    <div th:replace="~{fragments::edit('Category', '/categories/edit/' , ${category.id} )}"></div>
                    &nbsp;
                    <div th:replace="~{fragments::delete('Category', '/categories/delete/' , ${category.id}, ${category.deletable})}"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th class="hideable-column"> ID </th>
                <th> Category Image </th>
                <th th:replace="~{fragments::column_link('categories', 'name', 'Category Name', 'none' )}"> </th>
                <th class="hideable-column"> Alias </th>
                <th> Enabled </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${categories}">
                <td class="hideable-column" th:text="${category.id}"></td>
                <td>
                    <i th:if="${category.image == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                    <img th:if="${category.image != null}" th:src="@{${category.imagePath}}" style="width: 100px"/>
                </td>
                <td>[[${category.name}]]</td>
                <td class="hideable-column"> [[${category.alias}]]</td>
                <td>
                <td th:replace="~{fragments::entityStatus(${category.enabled}, 'Category', 'categories/' + ${category.id})}"></td>
                </td>
                <td>
                    <div th:replace="~{fragments::edit('Category', '/categories/edit/' , ${category.id} )}"></div>
                    <div th:replace="~{fragments::delete('Category', '/categories/delete/' , ${category.id}, ${category.deletable})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${keyword != null}" class="text-center">
        <span>Search result doesn't show categories in hierarchical form</span>
        <div th:replace="~{fragments::pagination('/categories/page/', 'categories')}"></div>
    </div>

    <div th:if="${keyword == null}">
        <div th:replace="~{fragments::pagination('/categories/page/', 'top-level categories')}"></div>
    </div>
    <div th:replace="~{fragments::footer}"></div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            categoryId = link.attr("entityId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this category ID: " + categoryId + "?");
            $("#confirmModal").modal("show");
        });
    });

    function clearFilter() {
        window.location= "[[@{/categories}]]"
    }

</script>

</body>
</html>